body{
    font-family: sans-serif;
    background-color: gray;
}

   .box-card {
  background-color: aliceblue;
 
  height: 25em;
  width: 56em;
  margin-left: 15em;

  padding-top: 1em;

}

h1,p{
   margin: 24px;
  padding: 8px;
  background-color: aqua;
}

button{
    background-color: white;
      display: block;
  margin: 0 auto;
  padding: 8px 24px;    
}
button-container{
    text-align: center;
  padding: 8px;
}
